body {

    margin: 0;
    font-family: 'Noto Sans', sans-serif;


    font-size: 15px;
    line-height: 16px; 
    color: #484f5b;
}
*,
*:before,
*:after{
    /*-webkit-box-sizing: border-box;*/
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*container*/
.container {

    width: 100%;
    max-width: 1255px;
    margin: 0 auto ;
}

/*intro*/
.intro {
    display: block;
    padding: 0px 0px 850px 0px;
    position: relative;
    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
    margin: 0 auto;
}


.title_info {
    padding: 500px 0 0 0 ;
    width: 596px;
    height: 145px;
    position: absolute;
    padding-right: 40px;
    font-size: 21px;
    font-weight: 150;
    text-transform: initial;
    color:#484f5b;


    left: 785px;


    line-height: 1.6;
}
 .intro_title {
    padding: 290px 0 0 0 ;
    width: 630px;
    height: 500px;
    position: absolute;
    padding-right: 80px;


    font-size : 72px;
    font-weight: 600;
    text-transform: inherit;

    left: 785px;

    line-height: 1.1;
    letter-spacing: 2.5px;
    
}
.title_info_2 {
    padding: 410px 0 0 0 ;
    width: 596px;
    height: 145px;
    position: absolute;
    padding-right: 40px;
    font-size: 21px;
    font-weight: 150;
    text-transform: initial;
    color:#484f5b;


    left: 93px;


    line-height: 1.6;
}
.title_2 {
    padding: 180px 0 0 0 ;
    width: 625px;
    height: 500px;
    position: absolute;
    word-wrap: normal;
   

    font-size : 72px;
    font-weight: 600;
    text-transform: inherit;

    left: 93px;

    line-height: 1.1;
    letter-spacing: 2.5px;
}
/* header */
.header {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 10;
    left: 0;
    right: 10;
    z-index: 1000;
    
}
/* LOGO */
.header_logo {

    display: block;
    background-image: url(../images/logo.png);
    width: 103px;
    height: 93px;
    
    margin-left: -10px;
    margin-top: -10px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo_1{
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 200px;
    display: block;
    width:615px;
    height: 595px;
    background-image: url(../images/girl.png);
}

/* NAV */
.nav {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 100;
}

.nav_link {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 35px;
    color: #484f5b;
    text-decoration: none;
    margin-right: 30px;

    transition: color 0.2s linear;
}

.nav_link:hover {
    color: grey;
}

/* Button*/
.btn_position {
    padding: 1248px 0 0 0 ;
    position: absolute;
    left: 785px;
}
.btn_position_2 {
    padding: 2870px 0 0 0 ;
    position: absolute;
    left: 93px;
}
.button{
    text-decoration:none; text-align:center; 
    padding:8px 30px; 
    border:solid 1px #e6c8c3; 
     
    font:13px "Noto Sans", Gadget, sans-serif; 
    font-weight:bold; 
    color:#484f5b; 
    background-color:#e6c8c3; 
    background-image: -moz-linear-gradient(top, #e6c8c3 0%, #e6c7c1 100%); 
    background-image: -webkit-linear-gradient(top, #e6c8c3 0%, #e6c7c1 100%); 
    background-image: -o-linear-gradient(top, #e6c8c3 0%, #e6c7c1 100%); 
    background-image: -ms-linear-gradient(top, #e6c8c3 0% ,#e6c7c1 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6c7c1', endColorstr='#e6c7c1',GradientType=0 ); 
    background-image: linear-gradient(top, #e6c8c3 0% ,#e6c7c1 100%);   
    -webkit-box-shadow:0px 0px 2px #e6c8c3, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #e6c8c3,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #e6c8c3, inset 0px 0px 1px #ffffff;  
     
    -webkit-transition: all 0.02s ease-in;
    -moz-transition:  all 0.02s ease-in;
    -o-transition:  all 0.02s ease-in;
    transition:  all 0.02s ease-in;}
    
    .button:hover{
    padding:8px 30px; 
    border:solid 1px #e6c8c3; 
     
    font:13px "Noto Sans", Gadget, sans-serif; 
    font-weight:bold; 
    color:#484f5b; 
    background-color:#e6c8c3; 
    background-image: -moz-linear-gradient(top, #e6c8c3 0%, #e6c7c1 100%); 
    background-image: -webkit-linear-gradient(top, #e6c8c3 0%, #e6c7c1 100%); 
    background-image: -o-linear-gradient(top, #e6c8c3 0%, #e6c7c1 100%); 
    background-image: -ms-linear-gradient(top, #e6c8c3 0% ,#e6c7c1 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6c7c1', endColorstr='#e6c7c1',GradientType=0 ); 
    background-image: linear-gradient(top, #e6c8c3 0% ,#e6c7c1 100%);   
    -webkit-box-shadow:0px 0px 2px #e6c8c3, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #e6c8c3,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #e6c8c3, inset 0px 0px 1px #ffffff;  
    
    
    }
    .button:active{
    padding:8px 30px; 
    border:solid 1px #cfc8c7; 
     
    font:13px "Noto Sans", Gadget, sans-serif; 
    font-weight:bold; 
    color:#7d8491; 
    background-color:#cfc8c7; 
    background-image: -moz-linear-gradient(top, #cfc8c7 0%, #fafafa 100%); 
    background-image: -webkit-linear-gradient(top, #cfc8c7 0%, #fafafa 100%); 
    background-image: -o-linear-gradient(top, #cfc8c7 0%, #fafafa 100%); 
    background-image: -ms-linear-gradient(top, #cfc8c7 0% ,#fafafa 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); 
    background-image: linear-gradient(top, #cfc8c7 0% ,#fafafa 100%);   
    -webkit-box-shadow:0px 0px 2px #e0d8d7, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #e0d8d7,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #e0d8d7, inset 0px 0px 1px #ffffff;  
     
    }

    /* Section */
    .section {
        padding: 177px 0 0 0; 
        display: block;
        padding: 0 0 800px 0;
        position: relative;
        background: url("../images/intro_2.jpg") center no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .section_header {

        width: 100%;
        max-width: 1205px;
        margin: 0 auto 40px;
    }

    /*gimnastika*/
    .gimnastika {
        padding: 80px 0 0 0 ;
        display: block;
        padding:0 0 477px 0;
        position: relative;
        background: url("../images/intro_3.jpg") center no-repeat;
        background-size: cover;
        margin: 0 ;
    }
    .gim {
        text-align: center;
        font-size: 15px;
        text-transform: lowercase;
        font-weight: 100;
    }
    .nav_link_3 {
        margin-top: 310px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 40px;
        color: #484f5b;
        text-decoration: none;
        hyphenate-character: 6 3 2;
        
        text-align: center;
        
        padding-top: 310px;

        overflow: hidden;
        transition: color 0.2s linear;
    }
 